.dialog {
    .buttons {
        button {
            position: relative;
            width: 100%;
            height: vh(50);

            font-weight: 400;
            font-style: normal;
            font-size: vh(16);

            padding: 0 vh(16);
            border: vh(1.3) solid rgba(246, 246, 246, .13);
            background: rgba(13, 13, 13, .5);

            border-radius: vh(8);
            text-align: left;
            transition: .14s linear;

            &:hover {
                background: #8a5ff7;
            }

            &:active {
                background: #6b47c7;
                scale: .993;
            }
        }
    }
}